.DS_Store
.dart_tool/

.packages
.pub/

build/

# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/

.idea/

android/
ios/
dependencies_flutter.iml